# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle dcmdump'
      'command': 'dicom-dump:toggledcm'
    },
    {
      'label': 'Toggle dsrdump'
      'command': 'dicom-dump:togglesr'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'dicom-dump'
      'submenu': [
        {
          'label': 'Toggle dcmdump'
          'command': 'dicom-dump:toggledcm'
        },
        {
          'label': 'Toggle dsrdump'
          'command': 'dicom-dump:togglesr'
        }
      ]
    ]
  }
]
